<annotation><filename>spring-step-connie-black_product_8884707_color_3.jpg</filename><folder>Shoes</folder><source><sourceImage>The MIT-CSAIL database of objects and scenes</sourceImage><sourceAnnotation>LabelMe Webtool</sourceAnnotation></source><object><name>chevron</name><deleted>0</deleted><verified>0</verified><occluded>no</occluded><attributes></attributes><parts><hasparts></hasparts><ispartof></ispartof></parts><date>27-Jan-2019 02:54:32</date><id>0</id><type>bounding_box</type><polygon><username>anonymous</username><pt><x>1128</x><y>765</y></pt><pt><x>1511</x><y>765</y></pt><pt><x>1511</x><y>1149</y></pt><pt><x>1128</x><y>1149</y></pt></polygon></object><imagesize><nrows></nrows><ncols></ncols></imagesize></annotation>