<annotation><filename>spring-step-connie-black_product_8884707_color_3.jpg</filename><folder>Shoes</folder><source><sourceImage>The MIT-CSAIL database of objects and scenes</sourceImage><sourceAnnotation>LabelMe Webtool</sourceAnnotation></source><object><name>chevron</name><deleted>0</deleted><verified>0</verified><occluded>no</occluded><attributes /><parts><hasparts /><ispartof /></parts><date>27-Jan-2019 02:54:32</date><id>0</id><type>bounding_box</type><bndbox><xmin>1128</xmin><ymin>765</ymin><xmax>1511</xmax><ymax>1149</ymax></bndbox></object><imagesize><nrows /><ncols /></imagesize><size><width>1891</width><height>703</height><depth>3</depth></size></annotation>